@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, coffee;
}

html, body {
  height: 100%;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.root {
  height: auto;
}

.Page {
  margin: auto;
  width: 75%;
  height: 100vh;
  padding: 16px 24px;
}